   {% extends "layout.html" %}
  {% block body %}
  <head>
   <title>Post</title>
</head>
   <!-- content
   ================================================== -->
   
   <section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">
   			<h1 class="page-title">{{post.title}}</h1>
   			<br>	
   			<article class="format-standard">  
   				{% set fname = 'images/' + post.img_file %}
   				<div class="content-media">
						<div class="post-thumb">
							<img src="{{url_for('static',filename=fname)}}"> 
						</div>  
					</div>
					<div class="primary-content">
						<ul class="entry-meta">
							<li class="date">Posted by Pratik Garud on {{post.date}}</li>									
						</ul>						
						<p class="lead">{{post.content}}</p> 

			</div>
		</article>
	</div>
</div>
</section>
   {% endblock %}

   